html {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-image: url(../images/gamebackground.jpg);
    background-position: center center;
    background-size: center;
    margin-left: 0px;
    margin-top: 0px;
    justify-content: center;
}

.score {
    color: #FFF;
}


h1 {
    color: blueviolet;
    font-family: cursive, Arial, Helvetica, sans-serif;
    font-size: 30pt;
}

h2 {
    color: brown;
    font-family: cursive, Arial, Helvetica, sans-serif;
}

.yes {
    cursor: pointer;
}

.no {
    cursor: not-allowed;
}

.game-board {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    cursor: pointer;
    gap: 0;
}

button {
    background: #c453c4;
    color: #FFF;
    border-radius: 5px;
    padding: 10px 20px;
    border: 0;
    cursor: pointer;
    font-family: Fredoka;
    font-size: 18pt;
    transition: all 200ms ease;
    margin: 20px auto;
}

button:hover {
    background: #844e84;
    color: #FFF;
}

.card {
    width: 150px;
    height: 200px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    background-size: cover;
    margin: 2px;
}

.return {
    color: #FFF;
}

.return:hover {
    color: rgb(94, 94, 236)
}